<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >




<configuration>



	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>



	<!-- typeAliases 유의사항 : 미리 등록해 둘려면 해당 클래스가 진짜 존재하고 있는 상태여야함 (클래스안에 없는건 괜찮 
		/ 경로안에 무조건 존재만 하면됨) (서버 돌리자마자 xml 먼저 읽기 때문) -->

	<typeAliases>
		<typeAlias type="com.solo.tree.member.model.vo.Member"
			alias="Member" />
		<typeAlias type="com.solo.tree.board.model.vo.Board"
			alias="Board" />
		<typeAlias type="com.solo.tree.board.model.vo.Reply"
			alias="Reply" />
	</typeAliases>


	<!-- 유의사항 : 미리 등록해 두려면 해당 mapper 파일이 진짜 존재하고 있는 상태여야함 + (실제사용할) mapper.xml에 
		namespace 등록까지 지정되어있어야함!! ex) mapper namespace="boardMapper" -->

	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
	</mappers>


	<!-- environment , dataSource에 기술했던 db연결 정보관련은 root-context.xml에 작성할 예정 
		왜? DB등록은 서버 연동과 동시에 같이 이뤄져야 되기 때문에 서버 스타트와동시에 바로 읽혀지는 root-context.xml 문서에 
		기술할 예정 -->


</configuration>